html, body {
    color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #3f0000, #d90000); /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1, h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.highlight {
    text-shadow:
            -1px -1px 0 #ffffff,   /* Top left shadow */
            1px -1px 0 #ffffff,    /* Top right shadow */
            -1px 1px 0 #ffffff,    /* Bottom left shadow */
            1px 1px 0 #ffffff;     /* Bottom right shadow */
    color: red;
}

#snowflakes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10%;
    font-size: 1em;
    color: white;
    opacity: 0.8;
    user-select: none;
    pointer-events: none;
    animation: fall infinite linear;
}

@keyframes fall {
    0% {
        transform: translateY(-100%) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(20px);
    }
}

.bottom-right-image {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 10%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

@media only screen and (max-width: 600px) {
    .bottom-right-image {
        width: 25%; /* Adjust the width as needed */
    }
}

.container {
    text-align: center;
}